@{
    ViewData["Title"] = "Home Page";
}
 <style>

 </style>
<div class="row" style="padding-top:30px;">
    <div class="col-md-12">
        @(await Html.PartialAsync("_SelectLanguagePartial"))
    </div>
</div>

